@page
@model IEnumerable<Library_p.Models.Library>
@{
    ViewData["Title"] = "Список Библиотек";
}
<h2>@ViewData["Title"]</h2>
<p>
    <a asp-controller="Home" asp-action="Create">Добавить</a>
</p>
<table class="table">
    <tr>
        <th>Название</th>
        <th>Адресс</th>
        <th>Отдел</th>
        <th></th>
    </tr>
 
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name_Lib</td>
            <td>
                @item.Adress_Lib
            </td>
            <td>
                @item.Department_lib
            </td>
            <td>
                <a asp-controller="Home" asp-action="Edit" asp-route-id="@item.Lib_ID">Изменить</a> |
                <a asp-controller="Home" asp-action="Delete" asp-route-id="@item.Lib_ID">Удалить</a>
            </td>
        </tr>
    }
</table>