@page
@model Programm_L.Pages.Person.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<form>
    <p>
        Title: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Personal[0].Name_pers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Personal[0].Staj_pers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Personal[0].Data_post)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Personal) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name_pers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Staj_pers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data_post)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Personal_ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Personal_ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Personal_ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
