@page
@model Programm_L.Pages.Bookss.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<form>
    <p>
        Title: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Books[0].Name_book)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books[0].Name_author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books[0].Janr_book)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books[0].Kol_vo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Books) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name_book)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name_author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Janr_book)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kol_vo)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Book_ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Book_ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Book_ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
